.p-5{
    background-color: rgb(243, 243, 243);
}
body{
     background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,237,245,1) 35%, rgba(0,212,255,1) 100%);
}
.baner{
    background-image: url("./img/maquilleishon.jpg");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.baner::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -1 ;
}
.banere{
    background-image: url("./img/grupo-personas-trabajando-plan-negocios-oficina_1303-15861.avif");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.banere::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -1 ;
}

